body {
  min-height: 100%;
  background-image: url(../img/seamwater1.jpeg);

}
.content {
  width: 1000px;
  min-height: 100%;
  margin: auto;
}
.battlefields {
  padding: 55px 55px 40px  55px;
  @include clearfix;
  &__my-field {
    display: inline-block;
    float: left;
  }
  &__enemy-field {
    display: inline-block;
    float: right;
  }

}
.cell-field {
  display: inline-block;

}
.field-table {
  td {
    width: 35px;
    height: 35px;
    text-align: center;
    border: solid rgb(255,255,255) 1px;
    background-color: rgba(255,255,255,0.35);
    position: relative;
  }
  .hat {
    background-color: inherit;
    color: rgb(255,255,255);
    font-size: 25px;
  }
}
.hit {
  width: 30px;
  height: 30px;
  background-image: url(../img/hit.png);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 0;right: 0;top: 0;bottom: 0;
  margin: auto;
}
.miss {
  width: 30px;
  height: 30px;
  background-image: url(../img/miss.png);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 0;right: 0;top: 0;bottom: 0;
  margin: auto;
}
.myShips {
  background-image: url(../img/blueship.png);
  background-repeat: no-repeat;
  background-position: center;
}

.message {
  height: 100%;
  color: rgb(255,255,255);
  #computerStep {
  }
  &__text {
    display: none;
    height: 100%;
    text-align: center;
    font-size: 25px;
  }
}
.popup-start {
  width: 700px;
  overflow: hidden;
  display: none;
}
.input-for-popup{
  width: 700px;
  height: 100px;
  font-size: 75px;
  text-align: center;
  border-radius: 25px;
  margin-bottom: 50px;
  color: rgb(71,122,252);
}
.button-for-popup  {
  width: 200px;
  height: 60px;
  display: block;
  margin: auto;
  border-radius: 10px;
  background-color: rgb(71,122,252);
  color: rgb(255,255,255);
  font-size: 25px;
}
.poup-end {
  // background-color: rgb(226,219,194);
  color: rgb(137,165,235);
  display: inline-block;
  font: 25px;
  display: none;

}
